config.yaml
rplots
Clade_A.txt
Clade_B.txt
Clade_C.txt
Clade_D.txt
copri_markers_long.txt
copri_markers.txt
global_readcounts.tsv
lefse
snakefile
._.DS_Store
.DS_Store
panphlan_pcopri
.Rhistory
._*
misc
plots_archive
.Rproj.user
input/humann/*
rds/humann/*
